/* https://github.com/antfu/prism-theme-vars */
@import 'prism-theme-vars/base.css';

.prose {
  --prism-font-family: 'JetBrains Mono', 'Input Mono', monospace;
  --prism-block-font-size: 0.8rem;
  @apply prose-layout leading-loose;
}

.prose img {
  width: 100%;
}

html:not(.dark) .prose {
  --prism-foreground: #839496;
  --prism-background: #002b36;
  --prism-comment: #586e75;
  --prism-string: #859900;
  --prism-literal: #2f8a89;
  --prism-number: #859900;
  --prism-keyword: #1c6b48;
  --prism-function: #268bd2;
  --prism-boolean: #b58900;
  --prism-constant: #b58900;
  --prism-deleted: #a14f55;
  --prism-class: #FFFFB6;
  --prism-builtin: #ab5959;
  --prism-property: #b58451;
  --prism-namespace: #b05a78;
  --prism-punctuation: #93a1a1;
  --prism-decorator: #EDEDED;
  --prism-regex: #ab5e3f;
  --prism-json-property: #698c96;
  --prism-selector: #859900;
}

html.dark .prose {
  --prism-foreground: #d4cfbf;
  --prism-background: #151515;
  --prism-comment: #758575;
  --prism-string: #d48372;
  --prism-literal: #429988;
  --prism-keyword: #4d9375;
  --prism-boolean: #1c6b48;
  --prism-number: #6394bf;
  --prism-variable: #c2b36e;
  --prism-function: #a1b567;
  --prism-deleted: #a14f55;
  --prism-class: #54b1bf;
  --prism-builtin: #e0a569;
  --prism-property: #dd8e6e;
  --prism-namespace: #db889a;
  --prism-punctuation: #858585;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #6b8b9e;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444;
  --prism-selector: #d4cfbf;
}

.prose h1 {
  @apply text-2xl font-extrabold;
}
.prose h2 {
  @apply text-xl font-semibold mt-14;
}
.prose h3 {
  @apply text-lg font-medium mt-10;
}

:is(.prose) h1, h2, h3 {
  @apply relative;
}

.prose p {
  @apply font-light;
  margin-block-start: 1em;
  margin-block-end: 1em;

}

.prose code::before, .prose code::after {
  display: none
}

.prose p > a {
  @apply relative hover:after:h-full hover:after:rounded-sm;
}

.prose p > a:after {
  content: '';
  @apply bg-theme/50 absolute left-0 bottom-0 w-full h-1/3 -z-10 transition-all;
}

.prose ol li > a {
  @apply border-dashed border-b-theme border-b-2;
}


.prose ol, .prose ul {
  padding-inline-start: 2rem;
}

.prose p code {
  @apply rounded py-1 px-2 bg-gray-200;
}

.table-of-contents {
  @apply opacity-0 hover:opacity-100 fixed left-0 top-1/2 -translate-y-1/2 transition-all w-1/4 text-sm max-h-72 overflow-y-auto;
}

.table-of-contents ul {
  @apply list-none
}

.table-of-contents ul li {
  @apply relative;
}

.table-of-contents ul li a {
  @apply relative hover:after:opacity-100;
}

.table-of-contents ul li a::after {
  content: '';
  @apply opacity-0 absolute left-0 bottom-0 h-2/5 w-full -z-10 bg-theme/70 transition-all;
}

.table-of-contents ul li::after {
  content: '';
  @apply absolute -left-4 top-1/2 -translate-y-1/2 bg-theme/50 w-3 h-px;
}

.prose .header-anchor {
  @apply absolute -left-4 top-0 opacity-0;
}

.prose :is(h1,h2,h3):hover .header-anchor {
  @apply opacity-50;
}